[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pip-init = "*"
virtualenv = "*"
pyinstaller = "*"

[packages]
argparse = "*"

[requires]
python_version = "3.7"
