.wrap {
    display: block;
    width: calc(100vw - 20px);
    height: calc(100vh - 120px);
}

.equalHW {
    display: inline-block;
    width: calc(32% - 20px);
    height: calc(25% - 20px);
    margin: 10px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

.equalHW:active {
    background-color: #6297ff;
    z-index: 2;
}

body {
    background-color: #999999;
}

h1 {
    color: azure;
}

.logo_1 {
    background-image: url("../images/379-3798428_browse-games-by-video-game-system-colecovision-logo.png");
    background-repeat: no-repeat;
    display: block;
    background-size: 220px 82px;
    width: 220px;
    height: 82px;
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
}

.wrap.col_50 {
    width: calc(50vw - 20px);
    float: left;
}

.wrap.col_50.last {
    width: calc(50vw - 25px);
    padding-left: 10px;
    border-left: 1px dotted silver;
}