@import url(../@fortawesome/fontawesome-free/css/all.css);

html * {
    box-sizing: border-box;
}


body {
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: white !important; */
    cursor: none !important;
    overflow: hidden;
    height: 100vh;
    margin: 0px;
    padding: 20px;
}


body button {
    cursor: none;
}

.wrap {
    display: block;
    width: calc(100vw - 20px);
    height: calc(100vh - 120px);
}

.equalHW {
    display: inline-block;
    width: calc(32% - 20px);
    height: calc(25% - 20px);
    margin: 10px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

.equalHW:active {
    background-color: #6297ff;
    z-index: 2;
}

body {
    background-color: #999999;
}

h1 {
    color: azure;
}


.col_90 {
    width: 90% !important;
    float: left;
}

.col_10 {
    width: 10% !important;
    float: left;
}

.col_50 {
    width: 50% !important;
    float: left;
}

.d_block {
    display: block;
}

.ft_sm {
    font-size: 0.8em !important;
}

.pull_right {
    float: right;
}

.hidden {
    display: none !important;
}

.m-r-5 {
    margin-right: 5px;
}

x-navigation {
    display: block;
    margin-bottom: 20px;
}

x-navigation button {
    font-size: 1.2em;
    margin-right: 0.2em;
}

x-navigation button.active {
    background-color: transparent;
    border: none;
    color: darkblue;
    float: right;
    font-weight: bold;
}

button.toggled {
    background-color: red;
}


x-multiserver {
    display: block;
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    z-index: 30;
    border-radius: 10px;
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 20px;
    animation: ease-in 200ms;
}

x-multiserver .overflow-container {
    overflow-y: auto;
    height: calc(100vh - 200px);
    border: 1px solid silver;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}

x-multiserver .line.clickable {
    font-size: 1.5em;
    background-color: #6f6ff3;
    color: yellow;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black, 2px 2px 5px black
}

x-multiserver .line.clickable.selected {
    background-color: #6f6ff3;
    color: yellow;
    box-shadow: inset 2px 2px 5px black, 2px 2px 5px black;
}


button {
    box-shadow: inset 0px 0px 0px 2px #ffffff;
    background: linear-gradient(to bottom, #c4a395 5%, #0f0d0b 100%);
    background-color: #c4a395;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #d8de31;
    text-decoration: none;
    text-shadow: 0px 1px 0px #202126;
}

button:hover {
    background: linear-gradient(to bottom, #0f0d0b 5%, #c4a395 100%);
    background-color: #0f0d0b;
}

button:active {
    position: relative;
    top: 1px;
}